.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  // nesting grid inside the grid container - there is as well subgrid but it is not widely supported!
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  //grid template columns as a replacement for media query
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

  grid-gap: 6rem;

  align-items: start; // it will align the feature items
}

// independent component - reusable totally
.feature {
  //nested grid again
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;

    grid-row: 1 / span 2;

    //setting position of the icon
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
